<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.velocity"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <!-- react-native-background-geolocation licence -->
      <meta-data 
        android:name="com.transistorsoft.locationmanager.license"
        android:value="YOUR_LICENCE_KEY_HERE" />
      <!-- Google Maps API key | AIzaSyC3Xzkluhp0HMkSLKjWakT6bxIxpShKwZA other key -->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyB3hDnHGgIzb6IPgAc6b_SgD7FF7rMVs0o"/>Ï
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
